<head>
    <link rel="stylesheet" href="./public/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
        crossorigin="anonymous">
    </script>
    <script src="./public/js/script.js"></script>
    <script>
        let position = {{position}}
    </script>
</head>
<body>

    {{{body}}}

</body>
<div class="footer">
    &copy; 2017
</div>