doctype html
html
    head 
        title wod app
        link(rel='stylesheet', href='public/css/style.css', type='text/css')
    body 
        block content
        br
        hr
        footer
            p Copyright &copy; 2017 MTB