<head>
    <script>{"word":"plagiary","definitions":["in a diagonal or oblique position","one that plagiarizes","to foreshadow vaguely","lacking orderly continuity"],"position":1}</script>
    <link rel="stylesheet" href="./public/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
        crossorigin="anonymous">
    </script>
    <script src="./public/js/script.js"></script>
</head>
<div class="container-word">
    <h1>DictWord1</h1>
</div>
<div class="container-def">
    <div class="box" id="0">
        <p>{{defs[0]}}</p>
    </div>
    <div class="box" id="1">
        <p>{{defs[1]}}</p>
    </div>
</div>
<div class="container-def">
    <div class="box" id="2">
        <p>This is definition 2</p>
    </div>
    <div class="box" id="3">
        <p>This is definition 3</p>
    </div>
</div>