@import url('https://fonts.googleapis.com/css?family=Open+Sans&effect=canvas-print');
@import url('https://www.w3schools.com/w3css/4/w3.css');
body {
    text-align: center
}
@media(min-width:200px){
    h1.font-effect-canvas-print{
        font-family: 'Open Sans', sans-serif;
        font-size:40px;
    }
    .card{
        background:#9bbff4;
        padding: 20px;
        min-width: 400px;
        max-width: 200px;
        position: center;
        margin: auto;
        margin-top: 5%;
    }
    .container-word{
        font-family: 'Muli';
        font-size: 25px;
        /*font-effect-canvas-print;*/
        color: whitesmoke;
        text-align: center;
        display:flex;
        justify-content: center;
    }
    /*.container-def{
    }*/
}
.box{
    flex:2;
    /*order:1;*/
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    text-align: left;
    display:flex;
    background: #EDE6DE;
    padding-left: 20px;
    /*width: 500px;*/
}
.hidden{
    visibility: hidden;
}

.hover{
    background: tan;
}
.right{
    color: green;
}
.wrong{
    color: red;
}
#next-button{
    text-align: right;
}
button{
    background-color: green;
    left: -10px;
    position: relative
}

/*####### Interim Styles for registration #######*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
    width: 70%;
    position: center;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
Try it Yourself »
