
@media(min-width:468px){
    .container-1{
        display:flex;
        justify-content: center;
    }
    .container-2{
        display:flex;
    }
}
.container-def div{
    border:1px #ccc solid;
    padding:10px;
}
.box{
    flex:2;
    order:1;
}
